<%
# Cargar todas las opciones del modelo Menu

# Cargar todas las opciones del modelo Opcion
menu_sistema_elements = Opcion.where(menu_id: 1).where(visible_sidebar: true).order(posicion: :asc).map do |opcion|
  { 
    name: "#{opcion.componente_sidebar}", 
    link: send(opcion.path), 
    class: opcion.icono, 
    action: opcion.controlador,
    text: opcion.nombre, 
    class_badge: "badge badge-success",
    registros: begin
      opcion.controlador.classify.constantize.count
    rescue NameError
      0
    end
  }
end
%>

<% if menu_sistema_elements.any? { |element| tiene_permiso_sidebar(element[:name], "VER OPCION") } %>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Configuración
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="<%= is_active_controller_sistema_titulo %>">
    <a class="menu_sb <%= is_active_controller_sistema %>" href="#" data-toggle="collapse" data-target="#collapseSistema" aria-expanded="true" aria-controls="collapseSistema">
      <i class="fas fa-fw fa-cog"></i>
      <span>SISTEMAS</span>
    </a>
    <div id="collapseSistema" class="opcion_sb <%= is_active_option_controller_sistema %>" aria-labelledby="headingSistema" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Opciones:</h6>
        <!--INICIA VALIDACION DE OPCIONES MOSTRAR EN EL SIDEBAR -->
        <% menu_sistema_elements.each do |element| %>
          <% if tiene_permiso_sidebar(element[:name], "VER OPCION") %>
            <%= link_to element[:link], class: is_active_action(element[:action]) do %>
              <i class="<%= element[:class] %>"></i>
              <span><%= element[:text] %> <span class="<%= element[:class_badge] %>"><%= element[:registros] %></span></span>
            <% end %>
          <% end %>
        <% end %>
        <!--FINALIZA VALIDACION DEL OPCIONES PARA MOSTRAR EN EL SIDEBAR -->

      </div>
    </div>
  </li>
<% end %>   